{% extends 'base.html' %}

{% block content %}

<div class = text-center>
	<div class = container>
		<h1>{{review.Title}}</h1> by: {{review.User_name}}
		<br/>
		<img src="{{ review.Image.url }}"/>
		<br/>
		<hr/>
        <div class="text-center">
    
    
	        <div >
	        			{% if user.is_authenticated %}
            
		        <form id="rate" method="POST" action="{% url 'rate' review.id %}">
		        	{% csrf_token %}
		            <label class="required" for="id_Votes">Add stars:</label>
		            
		                <select name="Votes" id="id_Votes">
									 <option value="1">1</option>

								  <option value="2">2</option>

								  <option value="3" selected>3</option>

								  <option value="4">4</option>

								  <option value="5">5</option>

								</select>
                    
                </div>
            
        </div>
		<br/>
		<a href="javascript:{document.getElementById('rate').submit()}">
			<button class="btn btn-primary" type="submit">שלח </button>
		</a>
		{% else %}
		<a class="btn btn-lg btn-primary" href="{% url 'login'%}" role="button">התחבר</a>
		{% endif %}
	</form>
	<br/>
	Stars total: {{review.Votes_total}}
		<div class = text-left>
			{{review.Date}}
		</div>
		<br/>
		<p>{{review.Body}}</p>
		<br/>
		Link: <a href="{{review.Source}}">{{review.Source}}</a>
		<br/>
	</div>
</div>




{% endblock %}